
<!DOCTYPE html>
<html>
<head>
	<title classs="futuristic-title">Inicio de sesión</title>
	<link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
	<h1>Inicio de sesión</h1>
	<form>
		<label for="username">Nombre de usuario:</label>
		<input type="text" id="username" name="username" required>

		<label for="password">Contraseña:</label>
		<input type="password" id="password" name="password" required>

		<input type="submit" value="Iniciar sesión">
	</form>

	<script src="script.js"></script>
</body>
</html>